/*
!/.gitignore
!/composer.json

!/htdocs
/htdocs/*
!/htdocs/.gitkeep

!/htdocs/wwii
/htdocs/wwii/*
!/htdocs/wwii/.gitkeep
!/htdocs/wwii/index.php
!/htdocs/wwii/includes
/htdocs/wwii/includes/*
!/htdocs/wwii/includes/.gitkeep

!/vendor
/vendor/*
!/vendor/.gitkeep

!/vendor/bin
/vendor/bin/*
!/vendor/bin/.gitkeep
!/vendor/bin/cli-config.php
!/vendor/bin/doctrine-manager.php
!/vendor/bin/system-manager.php
!/vendor/bin/wwii.bat
!/vendor/bin/wwii.php

!/vendor/wwii
/vendor/wwii/*
!/vendor/wwii/.gitkeep
!/vendor/wwii/bootstrap.php
!/vendor/wwii/init_autoload.php
